<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ivanchik.task.manager.api.db.TaskMapper">

    <insert id="createTableIfNeeded">
        CREATE TABLE IF NOT EXISTS tasks (
            id INT auto_increment PRIMARY KEY NOT NULL,
            parentId INT,
            userId INT,
            name varchar(30) NOT NULL,
            description text,
            startDate TIMESTAMP,
            endDate TIMESTAMP,
            timeSpent INT,
            progress INT(3),
            daily BOOLEAN(1),
            closed BOOLEAN(1),
            FOREIGN KEY(parentId) REFERENCES tasks(id),
            FOREIGN KEY(userId) REFERENCES users(id)
        )
    </insert>

    <insert id="addTask" parameterType="ivanchik.task.manager.api.pojo.Task" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tasks (
            parentId,
            userId,
            name,
            description,
            startDate,
            endDate,
            timeSpent,
            progress,
            daily,
            closed
        )
        VALUES (
            #{parentId},
            #{userId},
            #{name},
            #{description},
            #{startDate},
            #{endDate},
            #{timeSpent},
            #{progress},
            #{daily},
            #{closed}
        )
    </insert>

    <update id="updateTask" parameterType="ivanchik.task.manager.api.pojo.Task">
        UPDATE tasks SET
        name = #{name},
        description = #{description},
        startDate = #{startDate},
        endDate = #{endDate},
        timeSpent = #{timeSpent},
        progress = #{progress},
        daily = #{daily},
        closed = #{closed}
        WHERE id = #{id}
    </update>

    <delete id="deleteTask" parameterType="ivanchik.task.manager.api.pojo.Task">
        DELETE FROM tasks WHERE id = #{id}
    </delete>

    <select id="getTaskList"  resultType="ivanchik.task.manager.api.pojo.Task">
        SELECT * FROM tasks
    </select>

    <select id="getTask" resultType="ivanchik.task.manager.api.pojo.Task">
        SELECT * FROM tasks WHERE id = #{id}
    </select>

</mapper>